
.typographie-admin h1 small {
	font-size: 14px;
	color: #555555;
}

/*.typographie-admin .admin-tab {
	display: none;
}*/

.typographie-admin .nav-tab {
	margin-bottom: -1px;
	cursor: pointer;
}

.box-danger {
	border: 1px red solid;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 15px 0;
	background-color: rgba(255,0,0,.2);
}

.box-success {
	border: 1px green solid;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 15px 0;
	background-color: rgba(0,255,0,.2);
}


.typographie-admin .admin-part {
	padding: 10px 15px;
	margin-bottom: 15px;
}

.typographie-admin .admin-part h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 0;
	margin: 10px 0;
}

.typographie-admin .admin-part h3 {
	font-size: 16px;
	font-weight: 600;
}

.typographie-admin .gadwp-settings-switchoo-inner::after {
	content: "";
}
.typographie-admin .gadwp-settings-switchoo-inner::before {
	content: "";
}

.typographie-admin .checkbox {
	margin: 10px 0 5px 0;
}

.typographie-admin .indent {
	padding-left: 30px;
}

/*@media (min-width: 782px) {}*/
/*@media (min-width: 962px) {}*/
