/**
 * CSS - Admin of Orthotypo plugin
 */
.orthotypo-admin h1 small {
	font-size: 14px;
	color: #777;
}

.orthotypo-admin .admin-tab {
	display: none;
}

.orthotypo-admin .nav-tab {
	margin-bottom: -1px;
	cursor: pointer;
}

.box-danger {
	border: 1px red solid;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 15px 0;
	background-color: rgba(255,0,0,.2);
}

.box-success {
	border: 1px green solid;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 15px 0;
	background-color: rgba(0,255,0,.2);
}

.orthotypo-admin .admin-part {
	padding: 10px 15px;
	margin-bottom: 15px;
}

.orthotypo-admin .admin-part h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 0;
	margin: 10px 0;
}

.orthotypo-admin .admin-part h3 {
	font-size: 16px;
	font-weight: 600;
}

.orthotypo-admin .admin-part ul {
	list-style: inside;
}

.orthotypo-admin p.submit {
	border-top: 1px solid #D1D1D1;
}

.orthotypo-admin .gadwp-settings-switchoo-inner::after {
	content: "";
}
.orthotypo-admin .gadwp-settings-switchoo-inner::before {
	content: "";
}

.orthotypo-admin .checkbox {
	margin: 10px 0 5px 0;
}

.orthotypo-admin .indent {
	padding-left: 30px;
}

/*@media (min-width: 782px) {}*/
/*@media (min-width: 962px) {}*/
